

@font-face {
    font-display: swap; 
    font-family: 'BubaDEMO-Outline';
    font-style: normal;
    font-weight: bold;
    src: url('BubaDEMO-Outline.otf') format('opentype'); 
}

span.logo {
    font-family: 'BubaDEMO-Outline';
    font-size: 33px;
    line-height: 3rem; 
}


@font-face {
    font-display: swap; 
    font-family: 'Caladea-BoldItalic';
    font-style: normal;
    font-weight: bold;
    src: url('Caladea-BoldItalic.ttf') format('truetype'); 
    #font-size: 33px;
    line-height: 0.8rem;
}


@font-face {
    font-display: swap; 
    font-family: 'Ampera';
    font-style: normal;
    font-weight: bold;
    src: url('Ampera.ttf') format('truetype'); 
}

span.signature {
    font-family: 'Ampera';
    font-size: 33px;
    line-height: 2.8rem;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    #font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Caladea-BoldItalic';
    scroll-behavior: smooth;
}


body {
    min-height: 100vh;
    background: linear-gradient(to right, #0061FF, #27abba);
    color: #fff;
    overflow-x: hidden
}


/*--- Dark Mode ---*/
body.dark {
    background: linear-gradient(
        135deg, #141e30, #243b55
    );
}


/*--- Blobs ---*/

.blob {
    position: absolute;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    filter: blur(120px);
    opacity: 0.6;
    #z-index: -1;
    pointer-events: none;
}

.blob1 {
    background: #ff6ec4;
    top: -100px;
    left: -100px;
}

.blob2 {
    background: #00f2fe;
    bottom: -100px;
    right: -100px;
}


/* navbar */

header {
    padding: 20px, 8%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 24px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links a:hover {
    opacity: 0.7;
    text-decoration: underline;
    font-weight: bold;
    font-size: +1;
    color: cyan;
}


.nav-actions {
    display: flex;
    gap: 15px;
    align-items: center;
}

#themeToggle {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color:#fff;
}

.menu-button{
    display: none;
    background: none;
    font-size: 28px;
    font-weight: bold;
}

.hamburger {
    display: none;
    font-size: 26px;
    cursor: pointer;
}


/*--- Image ---*/

.image img {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.4);
}


/*--- Buttons ---*/

.buttons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    border-radius: 25px;
    background: #00f2fe;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    transform: translateY(-3px);
    #background: darkgoldenrod;
    background: darkred;
    color: #fff;
}

.btn.outline {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
}


/*--- Projects ---*/

.project-grid {
    display: grid;
    grid-template-columns: 
        repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.card {
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    /*  transform: translateY(-8px);  */
    transform: translateY(-10px) scale(1.05);
}


/*--- glass ---*/
.glass {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(18px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    padding: 40px;
}


/*--- Responsive ---*/

@media(max-width: 968px){
    .nav-links {
        display: none;
    }
    .hamburger {
        display: flex;
        gap: 10px;
    }
}

@media(min-width: 970px){
    .hamburger {
        display: none;
    }
}


/*--- Sections ---*/

section {
    padding: 30px 8%;  /*--- outside spacing ---*/
}

section h1 {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 20px;
    #margin: 8px 0;
}

section h2 {
    text-align: center;
    #margin-top: 0;
    #margin-bottom: 10px;
    #margin: 8px 0;
}

section h3 {
    text-align: center;
    #margin-top: 0;
    #margin-bottom: 10px;
    #margin: 8px 0;
}


/*--- Paragraph ---*/

p {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

p.quote {
    font-size: 16px;
}

p.main {
    font-size: 20px;   
}

h1 {
    font-size: 28px;
    color: #00f2fe;
}

h2 {
    font-size: 26px;
    color: #00f2fe;
}

h3 {
    font-size: 24px;
    color: #00f2fe;
}

ul {
    list-style-type: disc; 
    list-style: disc;
}

li {
    font-size: 20px;
}